*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(new.jpg);
    background-repeat: no-repeat;
    background-size: cover;
   color: white;
   text-align: center;
   min-height: 200vh;
    
   

    
}
h1{
    font-size: 3rem;
    margin-top: 2rem;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7rem;
    max-width: 100%;
  
}

.text{
    margin-right: 4rem;
    font-size: 6rem;
    padding-left: 50px;

}

.container span{
    font-size: 2rem;
    text-align: left;
}

@media(max-width:1000px){
    .container{
        flex-direction: column;
    }
}